<div *ngIf="config">
<!--<div class="slider-control-group">-->
    <div  class="row">
        <nouislider #slider [min]="config.min" [max]="config.max" [step]="config.step" [(ngModel)]="config.value" (ngModelChange)="onChange($event)" [disabled]="disabled"></nouislider>
    </div>
    <div class="row">
        <div class="slider-control-button decrement" (click)="dec()">-</div>
        <div class="slider-control-button increment" (click)="inc()">+</div>
        <div class="slider-control-value">{{config.value}} {{config.units}}</div>
    </div>
</div>