.ui.top.attached.header {
    background: #1b1c1d;
}

.ui.main.container {
    margin-top: 7em;
    height: 77%;
}

.ui.footer.segment {
    margin: 1em 0em 0em;
    padding: 1.5em 3em 4em 0em;
    width: 100%;
    position: absolute;
    bottom: 0;
    max-height: 80px;
}

.example-slider .slider-control-group {
    height: 5vh;
    width: 33vw;
}

.example-slider .slider-control-group .slider-control {
    width: 15vw;
    height: 5vh;
}

.slider {
    fill: white;
    font-size: 1.3vh;
}
